[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
pandas = "*"
praw = "*"
imgkit = "*"

[dev-packages]
black = "*"
isort = "*"
jupyter = "*"
jupyterlab = "*"
jupytext = "*"
matplotlib = "*"
click = "*"
imgkit = "*"

[requires]
python_version = "3.8"
